{% load static %}
{% load my_tags %}
{% load i18n %}
{% block extra_css %}
    <style>
        .my_lang:hover {
            background: #0b0b0b !important;
        }
        .my_lang:hover a{
            color: white !important;
        }
    </style>

{% endblock %}
<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="{% url 'user:login' %}">{% trans 'Sign in' %}</a>
        </div>
        <div class="offcanvas__top__hover">
            {% get_current_language as LANGUAGE_CODE %}

            <span>{{ LANGUAGE_CODE }} <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>EN</li>
                <li>UZ</li>
                <li>RU</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            {% if request.user.is_authenticated %}
                                <a href="">{% trans 'Order History' %}</a>
                                <a href="{% url 'user:profile' %}">{% trans 'Profile' %}</a>
                                <a href="{% url 'user:logout' %}">{% trans 'Log out' %}</a>
                            {% else %}
                                <a href="{% url 'user:login' %}">{% trans 'Sign in' %}</a>
                            {% endif %}
                        </div>
                        <div class="header__top__hover">
                            <span>{{ LANGUAGE_CODE }} <i class="arrow_carrot-down"></i></span>
                            {% get_available_languages as LANGUAGES %}

                            <ul>
                                {% for lang in LANGUAGES %}
                                    {% if lang.0 != LANGUAGE_CODE %}
                                        <li class="my_lang">
                                            <a href="/{{ lang.0 }}/{{ request.path|slice:"4:" }}" class="text-dark">
                                                {{ lang.0|upper }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="{% url 'pages:home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        {% url 'pages:home' as current_link %}
                        <li class="{% if request.path == current_link %}active{% endif %}"><a
                                href="{% url 'pages:home' %}">{% trans 'Home' %}</a></li>
                        {% url 'shop:home' as current_link %}
                        <li class="{% if request.path == current_link %}active{% endif %}">
                            <a href="{% url 'shop:home' %}">Shop</a>
                        </li>
                        {% url 'blogs:posts' as current_link %}
                        <li class="{% if request.path == current_link %}active{% endif %}"><a
                                href="{% url 'blogs:posts' %}">{% trans 'Blog' %}</a></li>
                        {% url 'pages:contact' as current_link %}
                        <li class="{% if request.path == current_link %}active{% endif %}"><a
                                href="{% url 'pages:contact' %}">{% trans 'Contacts' %}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'shop:all_wishlist' %}"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
                    {% endif %}
                    {% cart_info request as info %}
                    <a href="{% url 'shop:shopping_cart' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>{{ info.0 }}</span></a>
                    <div class="price">${{ info.1 }}</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>