{% extends 'layouts/base.html' %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Profile</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'pages:home' %}">Home</a>
                            <span>Profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#", method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                                here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name </p>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name </p>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country </p>
                                {{ form.country }}
                            </div>
                            <div class="checkout__input">
                                <p>Address </p>
                                {{ form.address1 }}
                                {{ form.address2 }}
                            </div>
                            <div class="checkout__input">
                                <p>Town/City </p>
                                {{ form.city }}
                            </div>
                            <div class="checkout__input">
                                <p>Country/State </p>
                                {{ form.state }}
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP </p>
                                {{ form.zip_code }}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone </p>
                                        {{ form.phone }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email </p>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="site-btn">Save</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
{% endblock %}