{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include './shop_sidebar.html' %}
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing {{ page_obj.start_index }}–{{ page_obj.end_index }} of {{  page_obj.paginator.count }} results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">-----</option>
                                        <option value="">Low To High</option>
                                        <option value="">High To Low</option>
                                        <option value="">Sale</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in object_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                {% include 'product_item.html' %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {% for page in page_obj.paginator.page_range %}
                                    <a class="{% if page == page_obj.number %}active{% endif %}" href="?page={{ page }}">{{ page }}</a>
                                {% endfor %}
{#                                <a href="#">2</a>#}
{#                                <a href="#">3</a>#}
{#                                <span>...</span>#}
{#                                <a href="#">21</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        function addUrlParameter(name, value){
            let searchParameter = new URLSearchParams(window.location.search)
            if(searchParameter.has(name) && searchParameter.get(value) == value){
                searchParameter.delete(name)
            }else {
                searchParameter.set(name, value)
            }

            window.location.search
        }
    </script>
{% endblock %}