{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include './shop_sidebar.html' %}
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing {{ page_obj.start_index }}–{{ page_obj.end_index }} of {{  page_obj.paginator.count }} results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in object_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item sale">
                                    <div class="product__item__pic set-bg"
                                         data-setbg="{{ product.main_image.url }}">
                                        {% if product.is_discount %}
                                            <span class="label">Sale</span>
                                        {% endif %}
                                        {% if product.new %}
                                            <span class="label new {% if product.is_discount %}new-mt{% endif %}">New</span>
                                        {% endif %}
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
                                            </li>
                                            <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{ product.title }}</h6>
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>${{ product.get_price }} {% if product.is_discount %}
                                            <del class="text-secondary">{{ product.price }}</del> {% endif %}</h5>
                                        <div class="product__color__select">
                                            <label for="pc-16">
                                                <input type="radio" id="pc-16">
                                            </label>
                                            <label class="active black" for="pc-17">
                                                <input type="radio" id="pc-17">
                                            </label>
                                            <label class="grey" for="pc-18">
                                                <input type="radio" id="pc-18">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {% for page in page_obj.paginator.page_range %}
                                    <a class="{% if page == page_obj.number %}active{% endif %}" href="?page={{ page }}">{{ page }}</a>
                                {% endfor %}
{#                                <a href="#">2</a>#}
{#                                <a href="#">3</a>#}
{#                                <span>...</span>#}
{#                                <a href="#">21</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}